
.theme-dark,
.theme-light,
:root {
   --background-primary: #2E303E   !important;
   --background-secondary: #232530   !important;
   --background-secondary-alt: #1C1E26 !important;
   --background-tertiary: #1A1C23   !important;
   --background-accent: #16161C   !important;
   --background-floating: #24242b  !important;
   --background-modifier-hover: rgba(175, 43, 43, 0.01)important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-modifier-accent: hsla(0, 5%, 12%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: #23242b !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #9f9f9f !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #fbfbfb !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #dcddde !important;
   --interactive-active: #fff !important;
   --interactive-muted: #747474 !important;
   --header-primary: white !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
}



.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{
  background-color: #232530;
    color: hsla(0,0%,100%,.8);
}

.pc-containerCompact .pc-content > .pc-container > .pc-container {
    align-items: center;
}
.pc-containerCompact .icon-2Po-VO {
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    left: 10px;
}


.isMentioned-N-h9aa {
    margin-left: 7px;
}


.userInfoSection-2acyCx+.userInfoSection-2acyCx {border:0px}
div.userInfoSection-2acyCx {padding:10px 0px}
.userInfoSectionHeader-CBvMDh {display:none}
.note-QfFU8y {display:none}

.status-1fhblQ, .description-2L932D {
    display: none;
}
.separator-2I32lJ {
    display: none;
}
.mask-1qbNWk.icon-1IxfJ2 {
    --status-icon-size: 75%;
    height: var(--status-icon-size); 
    width: var(--status-icon-size);
    margin-left: 33%;
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 > .menu-3sdvDG.styleFixed-sX-yHV > .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    visibility: visible;
}
.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
    grid-column: 1/5;
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 {
    transition: opacity 0.15s linear 0s;
}
.customText-tY5LJn {
    font-size: 15px;
}

.header-QKLPzZ .headerInfo-30uryT .flex-1xMQg5 div {
    transition: 0.2s;
}
.header-QKLPzZ .headerInfo-30uryT .flex-1xMQg5 div:hover {
    transition: 0.2s;
  transform: translateY(-0.75px);
}


:root {
  --icon: var(--server-icon-size, var(--ASW_size, 35px));
  --container: calc(var(--icon) + calc(var(--server-container-padding) * 2));
}

.base-3dtUhz {
  left: var(--container);
}

.wrapper-1Rf91z {
  width: var(--container);
}
.wrapper-1Rf91z .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
.wrapper-1Rf91z [role=group] {
  height: auto !important;
}
.wrapper-1Rf91z .placeholderMask-3K9THS {
  width: var(--icon);
  height: var(--icon);
}
.wrapper-1Rf91z .listItem-2P_4kh {
  width: var(--container);
  margin-bottom: var(--server-icon-spacing);
}
.wrapper-1Rf91z .scroller-2TZvBN > div[style]:not(.listItem-2P_4kh) {
  height: calc(var(--icon) + var(--server-icon-spacing)) !important;
}
.wrapper-1Rf91z [class*=pill] {
  height: var(--icon);
  top: 50%;
  transform: translateY(-50%);
}
.wrapper-1Rf91z [class*=pill] span {
  height: var(--server-icon-size) !important;
  transition: 0.1s ease !important;
  transform: scale(1, 0) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 0"] {
  transform: scale(1, 0.25) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 1"] {
  transform: scale(1, 0.25) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 2"] {
  transform: scale(1, 0.25) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 3"] {
  transform: scale(1, 0.25) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 4"] {
  transform: scale(1, 0.25) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 5"] {
  transform: scale(1, 0.25) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 6"] {
  transform: scale(1, 0.25) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 7"] {
  transform: scale(1, 0.25) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 8"] {
  transform: scale(1, 0.25) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 9"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 10"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 11"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 12"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 13"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 14"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 15"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 16"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 17"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 18"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 19"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 20"] {
  transform: scale(1, 0.5) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 21"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 22"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 23"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 24"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 25"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 26"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 27"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 28"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 29"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 30"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 31"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 32"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 33"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 34"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 35"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 36"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 37"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 38"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 39"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z [class*=pill] span[style*="height: 40"] {
  transform: scale(1, 1) !important;
}
.wrapper-1Rf91z .guildsError-b7zR5H,
.wrapper-1Rf91z .svg-1X37T1,
.wrapper-1Rf91z .wrapper-25eVIn {
  width: var(--icon);
  height: var(--icon);
}
.wrapper-1Rf91z .iconBadge-2NuvG9 {
  border-radius: 50%;
  height: calc(var(--icon) / 3);
  width: calc(var(--icon) / 3);
}
.wrapper-1Rf91z .wrapper-21YSNc {
  width: var(--container);
}
.wrapper-1Rf91z .wrapper-21YSNc .folder-21wGz3,
.wrapper-1Rf91z .wrapper-21YSNc .folderIconWrapper-226oVY {
  background: transparent;
}
.wrapper-1Rf91z .wrapper-21YSNc .expandedFolderBackground-2sPsd- {
  left: 50%;
  transform: translateX(-50%);
  width: var(--server-icon-size);
}
.wrapper-1Rf91z .wrapper-21YSNc .expandedGuilds-1JMD4M {
  height: auto !important;
}
.wrapper-1Rf91z .wrapper-21YSNc .closedFolderIconWrapper-15K9MK,
.wrapper-1Rf91z .wrapper-21YSNc .expandedFolderIconWrapper-1xLaU- {
  transform: none !important;
}

.colorMuted-HdFt4q.size12-3cLvbJ:first-child:after {
  content: "Adjustable Server Width 2.0.2";
  display: block;
}


:root {
  --server-icon-size: 34px; /* Size of the server icons | DEFAULT: 35px */
  --server-icon-spacing: 10px; /* Spacing between server icons. Negative values are allowed | DEFAULT: 8px */
  --server-container-padding: 10px; /* Spacing to the left and right sides of server icons | DEFAULT: 10px */
}

.scroller-2hZ97C {
    display: none;
}
.header-1TKi98 {
  display: none;
}
.root-1gCeng{
  top: 120px;
}
.footer-2gL1pp {
  border-radius: 10px;
  top: 10px;
}

.chat-3bRxxu > .title-3qD0b- {
    background-color: var(--background-secondary) !important
  }


  .userPopout-3XzG_A{
    width: 290px;
  }

.role-2irmRk{
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 5px;
}
.roleCircle-3xAZ1j::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: inherit;
    opacity: .2;
    z-index: -1;
    pointer-events: none;
}

.footer-1fjuF6{
    border-top: none;
}


.button-14-BFJ{
    transition: 0.2s;
  }
  .button-14-BFJ:hover{
    padding-bottom: 5px;
    transition: 0.2;
  }

  .winButton-iRh8-Z{
    color: #fcfcfc; /* <= custom color here*/
  }


  .numberBadge-2s8kKX {
    animation: animatedPing 1.5s infinite ease-in-out;
  }
  
  @keyframes animatedPing {
    0% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg) scale(1.2);
    }
    100% {
      transform: rotate(-15deg);
    }
  }

  
  .dividerContent-2L12VI::before {
    display: none;
}

.dividerContent-2L12VI {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    margin: 8px 0;
    color: var(--header-primary);
}

.dividerRed-MKoLlr .dividerContent-2L12VI {
    color: #f75050;
}

.wordmark-2iDDfm:after {
    content: "KITANA MIDNIGHT";
    color: rgb(108, 99, 150) !important;
    font-size: 15px;
    font-weight: 430;
    position: absolute;
    width: 4000px;
    top: 5px;
    padding-left: -1px;
    font-family: "Discord";
  }
  
  .wordmark-2iDDfm > svg{
    width: 0px;
  }

  [class^="toolbar-"]{
    max-width: 40px;
    transition: max-width 1.5s;
    -webkit-transition: max-width 1.5s;
    -moz-transition: max-width 1.5s;
    -o-transition: max-width 1.5s;
    height: 100%;
  }
  [class^="toolbar-"]::before{
    content: "︙";
    font-size: 24px;
    margin: 0 8px;
  }
  /*hover == true*/
  [class^="toolbar-"]:hover{
    max-width: 100vw;
  }
  [class^="toolbar-"]:hover::before{
    content: "<";
    font-size: 24px;
    margin: 0 8px;
  }


/* mac buttons for cool people */
.typeWindows-1za-n7 {
  background-color: transparent;
}
.winButton-iRh8-Z {
  top: 1px;
  margin-right: 14px; /* change this to adjust spacing */
  opacity: 0.8;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.winButton-iRh8-Z svg {
  display: none;
}
.winButtonClose-1HsbF- {
  background-color: #f04747;
}
.winButtonClose-1HsbF-:hover {
  opacity: 1;
}
.winButtonMinMax-PBQ2gm:nth-child(3) {
  background-color: #43b581;
}

.winButtonMinMax-PBQ2gm:nth-child(4) {
  background-color: #faa61a;
}

.winButtonMinMax-PBQ2gm:hover {
  opacity: 1;
}


:root {
  --hover-animation-speed: 0.35s;
  --seperator-color: var(--background-accent);
}

.membersWrap-2h-GB4 {
  min-width: unset;
  width: 50px;
  justify-content: right;
}

.members-1998pB {
  transition: transform var(--hover-animation-speed);
}

.membersWrap-2h-GB4:hover .members-1998pB {
  transform: translateX(-190px);
}

.membersWrap-2h-GB4 .membersGroup-v9BXpm::after {
  content: '';
  width: 30px;
  height: 2px;
  border-radius: 50px;
  background: unset;
  background-color: var(--seperator-color);
  position: absolute;
  left: -36px;
  top: 29px;
  margin-left: 0px;
}

.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
  background-color: unset;
  margin-left: 0px;
  transition: margin-left var(--hover-animation-speed);
}

.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
  margin-left: 8px;
}

.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
  transform: translateX(-6px);
}

.membersWrap-2h-GB4 .membersGroup-v9BXpm {
  cursor: default;
  transform: translateX(45px);
  transition: transform var(--hover-animation-speed);
  overflow: visible;
}



  


